name: Publish

on:
  release:
    types: [created]

permissions:
  id-token: write

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Node
        uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        with:
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run tests

      - name: Build it
        run: bun run build

      - name: Publish to the NPM
        run: npm publish --access public --provenance
