name: Tests

on:
  push:
    branches:
      - '**'

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run tests

      - name: Build it
        run: bun run build
